<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Squared · Phoenix Framework</title>

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
  <header class="navbar">
    <section class="navbar-section">
      <a href="<%= Routes.page_path(@conn, :index) %>" class="navbar-brand mr-2">[S]quared.technology</a>
    </section>
    <section class="navbar-section">
      <a href="#" class="btn btn-link nav-link">Blog</a>
      <a href="https://gitlab.com/SimplySerenity/squared" class="btn btn-link gitlab-logo">
        <figure class="avatar avatar-x1">
          <img src="images/gitlab-icon-rgb.svg" alt="gitlab icon">
        </figure>
      </a>
    </section>
  </header>
    <div class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></div>
    <div class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></div>
    <main role="main" class="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
