.navbar {
	padding: 10px;

	box-shadow: 0 2px 6px 0px $gray-color;
}

.navbar-brand {
	font-size: 1.1rem !important;
	color: darken($primary-color, 10%) !important;
}

.nav-link {
	font-size: .9rem;
}

.gitlab-logo {
	margin-top: -5px;
}
